{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
